<h1><%= @post.title %></h1>
<br/>
<%= @post.body %><br/>
<br/>
<h4>Comments</h4>

<ul>
  <div id="comments">
<%# @comments.each do |comment| %>
    <%= render @comments %> <%#= render :partial=>"comment", :object => comment %>
<%# end %>
  </div>
</ul>
<%= error_messages_for 'comment' %>
<% form_remote_for :comment, @comment, :url => post_comments_path(@post, @comment) do |f|%>
  <p>
    <%= f.label 'Comment' %><br/>
    <%= f.text_area :comment %></p>
  <%= f.submit "Post" %>
<% end %>


