<%#*<h1>Login</h1>%>
<%#*<br />%>
<div id="login">
<% form_remote_for :user_session, @user_session, :url => user_session_path(@user_session) do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login, :class => 'text' %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password, :class => 'text' %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>

  <%= link_to 'Loguot', logout_path, :method => :delete,
        :confirm => "Are you sure you want to logout?"%><br/>
  <%= link_to 'Signup', signup_path %> <br/>
  <%= link_to 'Forgot Password', :controller => "password_resets", 
                                                :action => "new"%> <br/>
</div>

   